.product-swiper-container .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
}

.product-swiper-container .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}